{% extends "base.html" %}
{% block title %}
    AI Language Tutor
{% endblock title %}
{% block content %}
    <h1 class="text-4xl font-bold">AI Language Tutor</h1>
    <h3 class="text-2xl font-bold">Languages</h3>
    <ul class="grid grid-cols-2 gap-2">
        {% for language in languages %}
            <li>
                <a href="{% url 'room' language.0 %}">
                    <div class="w-100 h-20 text-center content-center border-2 text-xl font-bold bg-white hover:bg-blue-600 hover:text-white">
                        {{ language.0 }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
