{% extends "base.html" %}
{% block title %}
    Let's Learn {{ language }}
{% endblock title %}
{% block content %}
    <h1 class="text-4xl font-bold">Let's Learn {{ language }}</h1>
    <ul id="messages"
        class="overflow-y-scroll scroll-smooth max-w-5xl flex flex-col items-stretch gap-2">
    </ul>
    <div class="max-w-5xl w-full flex flex-col gap-2 items-stretch">
        <input id="chat-message-input"
               class="w-full p-4 bg-white border-2 rounded-xl"
               type="text"
               size="100">
        <input id="chat-message-submit"
               class="self-end min-w-30 p-2 bg-blue-600 text-white rounded-xl hover:cursor-pointer"
               type="button"
               value="Send">
    </div>
    {{ language|json_script:"language" }}
    <script>
        function scrollToBottom() {
            document.querySelector("#messages").scrollTop = document.querySelector("#messages").scrollHeight;
        }
            
        const language = JSON.parse(document.getElementById("language").textContent);

        const chatSocket = new WebSocket(
            "ws://"
            + window.location.host
            + "/ws/chat/"
            + language
            + "/"
        )

        const getMessageHTML = (element, data) => {
            if (data.actor == 'user') {
                element.classList.add("self-end", "ml-20");
                element.innerHTML =  `<div class="w-full p-4 bg-blue-600 text-white rounded-xl">${data.message}</div>`;
            } else {
                element.classList.add("self-start", "mr-20");
                element.innerHTML =  `<div class="w-full p-4 bg-white border-2 rounded-xl">${data.message}</div>`;
            }
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            // add new message
            const message = document.createElement("li");
            getMessageHTML(message, data);
            document.querySelector("#messages").appendChild(message);
            scrollToBottom();
        };

        chatSocket.onclose = function (e) {
            console.error("Chat socket closed unexpectedly");
        };

        function onSubmit(e) {
            const messageInput = document.querySelector("#chat-message-input");
            const messageValue = messageInput.value;
            chatSocket.send(JSON.stringify({"message": messageValue}));
            // add new message
            const message = document.createElement("li");
            getMessageHTML(message, {"actor": "user", "message": messageValue});
            document.querySelector("#messages").appendChild(message);
            scrollToBottom();
            messageInput.value = "";
        };

        document.querySelector("#chat-message-submit").onclick = onSubmit;
        document.querySelector("#chat-message-input").onkeyup = function (e) {
            if (e.key === "Enter") {
                onSubmit(e);
            }
        };

        document.querySelector("#chat-message-input").onkeydown = function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
            }
        };
    </script>
{% endblock content %}
